.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 500px;
    max-width: 570px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
}

p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}