.background {
    height: 288px;
    width: 100%;
    background-color: #c7222a;
}

.content {
    position: absolute;
    width: 100%;
    top: 48px;
    z-index: 0;
}

.Questionary_para {
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin: 16px auto 8px auto;
    font-family: "PF Handbook Pro";

    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.3199999928474426px;

    color: white;
}

.userforms {
    max-width: 70%;
    margin: auto;
    font-family: 'PF Encore Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2E2E2E;
    margin-top: 30px;
}

.user_card {
    width: 100%;
    padding: 20px;
}

.input_container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1vh;
}

.input_container input {
    margin: 0px;
    width: 100%;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #d5d7de;
    background: #ffffff;
}

.input_container label {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.32px;
    text-align: left;
}

.form-check label {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.32px;
    text-align: left;
}

.invalid {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.32px;
    text-align: left;
    color: #c7222a;
}

.submit-btn {
    background: #c7222a !important;
    color: white !important;
}

/* result */

.active_age_container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    text-align: center;
    gap: 2vh;
    padding: 20px;
}

.card_containr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.modfy_card {
    padding: 20px;
    align-items: center;
    gap: 0.2vh;
}

.card_containr .card img {
    height: 24px;
    width: 24px;
}

.commonfont_heading {
    color: #4c4c4c;
    font-family: 'PF Handbook Pro';
    font-size: 18px;
    font-weight: 400px;
    opacity: 0.7;
}

.common_back {
    color: #aeaeae;
    font-family: 'PF Handbook Pro';
    font-size: 18px;
    font-weight: 400px;
}

.commonboldfont_heading {
    font-family: 'PF Handbook Pro';
    font-weight: 600;
    margin: 0px;

}

.commondes {
    color: #4c4c4c;
    font-family: 'PF Handbook Pro';
    font-size: 19px;
    font-weight: 400px;
    padding: 0px;
    margin: 0px;
}

.result_container {

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 570px;

}

.description {
    background: #f7f7f7;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: #000000;
    border-radius: 10px;
}

#download,
#retake_test {
    font-family: 'PF Handbook Pro';
    font-size: 16px;
    font-weight: 400px;
}

#download {
    padding: 10px;
    background-color: #c7222a;
    color: white;
    border-radius: 5px;
    border: #c7222a;
}

#retake_test {
    padding: 10px;
    background-color: transparent;
    color: #c7222a;
    border-radius: 5px;
    border: solid 1.2px #c7222a;
}

#retake_test img {
    margin-right: 10px
}

@media (max-width: 576px) {
    .userforms {
        max-width: 90% !important;
    }


}